.container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
}
.user {
  text-decoration: none;
}
.userPhoto {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  max-width: 150px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
}

.blankCoverSvg {
  width: 1.125rem;
  height: 1.125rem;
  color: var(--color-light-900);
}
