.postsSide {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 486px;
  height: 605px;

  .postsSideHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
    border-bottom: 1px solid var(--color-dark-100);

    .imgAndURLProfile {
      display: flex;
      gap: 12px;
      align-items: center;
      padding: 10px;

      img {
        max-width: 72px;
        max-height: 48px;
        border-radius: 50%;
      }
    }
  }

  .postsSideContent {
    overflow-y: auto;
    max-height: 332px;
    border-bottom: 1px solid var(--color-dark-100);

    .postDescription {
      display: flex;
      flex-direction: column;
      padding: 20px 24px 0;

      img {
        align-self: flex-start;
        max-width: 36px;
        max-height: 36px;
        border-radius: 50%;
      }

      .topContent {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      .sideInfo {
        padding: 8px 8px 8px 72px;
      }
    }
  }
}
