.container {
  width: 491px;
  margin-bottom: 36px;
  border-bottom: 1px solid var(--color-dark-100);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    gap: 8px;

    > :last-child {
      margin-left: auto;
    }

    .postTime {
      color: var(--color-light-900);
    }

    .dot {
      width: 4px;
      height: 4px;
      background-color: var(--color-light-700);
      border-radius: 50%;
    }
  }

  .postImages {
    height: 504px;
    margin-bottom: 12px;

    .publicSlider {
      button {
        width: 30px;
        height: 30px;
      }
    }
  }

  .footer {
    .postFunctions {
      display: flex;
      flex-direction: row;
      margin-bottom: 18px;
      gap: 20px;

      > :last-child {
        margin-left: auto;
      }
    }

    .description {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 12px;

      > :first-child {
        flex-shrink: 0;
      }
    }

    .likes {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .imgWhoLikes {
        border-radius: 50%;
      }

      > * {
        position: relative;
      }

      > *:nth-child(-n + 3) {
        margin-left: -10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .viewComments {
      color: var(--color-light-900);
      margin-bottom: 12px;
    }

    .addComment {
      display: flex;
      align-items: center;
      gap: 8px;

      textarea {
        flex: 1;

        font-size: 14px;
        line-height: 1.5; // ~21px

        box-sizing: border-box;

        resize: none;
        overflow-y: auto;

        border: none;
        background-color: inherit;
        outline: none;

        // Убираем горизонтальный скролл
        overflow-x: hidden;
      }

      > :last-child {
        align-self: stretch;
        flex-shrink: 0;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
}
