.layout_container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 63px);
  @media screen and (width <= 767px) {
    flex-direction: column;
  }
}

.layout_scroll {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
