@use '@/app/_styles/ui/function' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: size(60px);
  align-items: center;

  padding: size(54px) size(112px) size(30px);
}

.controls {
  display: flex;
  flex-direction: column;
  row-gap: size(24px);
}

.post_preview {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 228px;

  text-align: center;

  background: var(--color-dark-500);

  svg {
    width: 48px;
    height: 48px;
  }
}

.sliderContainer {
  width: 100%;

  .slick-slider {
    display: flex;
  }
}
