.container {
  max-width: 378px;
  width: 100%;
  margin: 0 auto;
  padding: 2.25rem 0px;
}
.wrapper {
  padding: 1.5rem;
}
.title {
  text-align: center;
  margin-bottom: 0.75rem;
}
.box {
  margin-bottom: 1.5rem;
  text-align: center;
}
