.modal {
  overflow: hidden;
  width: 644px;
  max-height: 564px;

  .content {
    width: 100%;
    padding: 24px;

    .followersList {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
}

.trigger {
  cursor: pointer;
}
