.sidebar {

  grid-row-gap: 60px;

  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 660px;
  width: 220px;
  max-width: 220px;
  padding: 76px 24px;
  border-right: 1px solid var(--color-dark-300);

  color: var(--color-light-100);
}

.sidebar_list {
  all: unset;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;

  list-style: none;

}





@media screen and (max-width: 767px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    align-items: center;

    min-height: auto;
    width: 100%;
    max-width: 100%;
    padding: 18px 48px;
    border-right: unset;

    color: var(--color-light-100);
  }
  .secondary {
    display: none;

  }
  .sidebar_list {
    width: 100%;
    flex-direction: row;
    row-gap: 0;
    justify-content: space-between;
    align-items: flex-start;

    span {
      display: none;
    }

  }


}




