.modal {
  width: 100%;
  max-width: 380px;

  & > div:nth-child(2) {
    padding: 30px 24px 34px;
  }

  @media screen and (width <= 576px) {
    max-width: 330px;

    & > div:nth-child(1) {
      padding: 0.75rem;
    }

    & > div:nth-child(2) {
      padding: 30px 12px 34px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media screen and (width <= 576px) {
    text-align: center;
  }
}

.button {
  align-self: flex-end;
  width: 96px;

  @media screen and (width <= 576px) {
    align-self: unset;
    width: 100%;
    padding: 0.75rem 0;
  }
}
