.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size, 192px);
  height: var(--size, 192px);
  border-radius: 50%;

  background-color: var(--color-dark-500);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size, 222px);
  height: var(--size, 228px);
  border-radius: 2px;

  background-color: var(--color-dark-500);
}
