.SignUpModalBtn {
  align-self: flex-end;
  width: size(96px);
}

@media screen and (width <= 576px) {
  .formWrapper {
    display: flex;
    flex-direction: column;
    row-gap: size(20px);
    align-items: center;
    justify-content: center;

    text-align: center;
  }

  .size {
    margin-bottom: 0.75rem;
  }
}
