.link {
  text-decoration: none;
  margin-bottom: 1.5rem;
  display: block;
}
.linkTitle {
  color: var(--color-light-900);
  text-align: right;
}
.input {
  margin-bottom: 1.5rem;
}
.box {
  margin: 2.25rem 0 1.25rem;
}
