.row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.container {
  position: absolute;

  // left: 0;
  z-index: 99999;
  bottom: 0;

  min-width: 156px;
  padding: 10px 15px;

  opacity: 0.8;
  background: var(--color-dark-500);
}

.expand {
  padding: 6px;
  background: var(--color-dark-500);
}

.wrapper {
  position: relative;
}
