@use '../../../app/_styles/ui/function' as *;

.modal {
  width: max-content;
  max-width: size(972px);
  min-width: size(492px);

  & > div:nth-child(2) {
    padding: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--color-dark-100);

  .DialogTitle {
    margin: 0;
  }

  & > button:last-child {
    padding: 6px 12px;
  }
}