.container {
  overflow: auto;
  width: 100%;

  &:not(:has(.empty)) {
    border: 1px solid var(--color-dark-500);
    border-radius: 2px;
  }

  .empty {
    margin: 80px 0 50px;
    text-align: center;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.headCell {
  padding: 12px 24px;
  text-align: left;
  background-color: var(--color-dark-500);
}

.cell {
  padding: 12px 24px;
  text-align: left;
}

.row:has(.cell):not(:last-child) {
  border-bottom: 1px solid var(--color-dark-500);
}
