.Content,
.SubContent {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: var(--color-dark-500);
  border-radius: 2px;
  padding: 18px 12px;

  border: 1px solid var(--color-dark-300);
}

.dropdown_items_container {
  list-style: none;
  max-width: 417px;
  margin: 0;
  padding: 0;
  max-height: 330px;
  overflow-y: scroll;
}

.Item,
.CheckboxItem,
.RadioItem,
.SubTrigger {
  border-radius: 3px;
  display: flex;
  align-items: center;

  position: relative;

  user-select: none;
  outline: none;

  &[data-disabled] {
    color: var(--color-dark-100);
    pointer-events: none;
  }
}

.Arrow {
  color: var(--color-dark-100);
  transform: rotate(-180deg) translateY(3px);

  path {
    fill: var(--color-dark-300);

    &:last-child {
      fill: var(--color-dark-500);
    }
  }
}

.IconButton {
  all: unset;

  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &:hover {
    color: var(--color-accent-500);
  }

  &:focus {
    color: var(--color-accent-500);
    outline: none;
  }

  &:active {
    color: var(--color-accent-500);
  }
}
